@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* -------- Home Page Variables ------*/
    --color_sixty: #F2DAAC;
    --color_thirthy: #A65851;
    --color_ten: #F2F1F0;
    --color_dividers: #401E17;

    --header_title: clamp(2.2rem, 10vw, 4rem);
    --header_nav: clamp(0.6rem, 2vw, 1.2rem);


    --hero_img_size: clamp(100px, 8vw, 300px);
    --hero_logo_size: clamp(170px, 10vw, 300px);
    --hero_headline_font_size: clamp(1rem, 2vw, 3rem);
    --hero_subheadline_font_size: clamp(0.8rem, 2vw, 1.2rem);
    --hero_booknow_size_height: clamp(30px, 10vw, 60px);
    --hero_booknow_size_width: clamp(120px, 12vw, 300px);

    --gallery_img_size_w: clamp(130.5px, 20vw, 261.6px);
    --gallery_img_size_h: clamp(164.4px, 20vw, 328.8px);
    /* --gallery_img_size_w: clamp(80.5px, 12vw, 261.6px);
    --gallery_img_size_h: clamp(120.4px, 12vw, 328.8px);  */
    --galley_deco_img_size: clamp(80px, 13vw, 200px);
    --gallery_panorama_size_w: clamp(307.2px, 40vw, 959.1px);
    --gallery_panorama_size_h: clamp(230.4px, 40vw, 552.8px);

    --footer_map_size: clamp(160px, 20vw, 300px);

    /* ------------------------ ---------------------------*/


    /* --------- Services Page Variables -----------*/

    --services_container_size_w: clamp(181px, 95vw, 1818px);
    --services_container_size_h: clamp(67.9px, 95vw, 679px);

    --services_logo_size_w: clamp(62px, 30vw, 348px);
    --services_logo_size_h: clamp(30px, 25vw, 223.2px);
}

html {
    scroll-behavior: smooth;
}

main header {
    font-family: 'Gentium Plus', serif;
    background-image: url('./images/bgs/vintage-speckles.png');
    background-color: var(--color_thirthy);
    min-height: 20vh;
    max-height: 27vh;

}

nav {
    background-color: var(--color_dividers);
    min-height: 25%;
    display: flex;
    justify-content: center;
    
}

nav a {
    padding: 0.4rem 1.2rem;
    color: var(--color_ten);
    font-size: var(--header_nav);

}

h1 {
    font-size: var(--header_title);
    letter-spacing: 0.15rem;
    color: var(--color_ten);
    text-align: center;
    padding: 0.5rem 0 0 0;
    font-weight: 600;
}

body {
    background-color: var(--color_sixty);
    font-family: 'Gentium Plus', serif;
}


/* start Hero Section  */
.op-bg {

    background-image: url('./images/bgs/Sun-rays.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 60%;
    min-height: 70vh;
    max-height: 105vh;
    position: relative;

}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 2rem 0;
}

.hero img {
    justify-self: center;
    height: var(--hero_img_size);
    width: auto;
}

.hero img:nth-child(2) {
    height: var(--hero_logo_size);
}

.hero img:nth-child(1) {
    justify-self: start;
}

.hero img:nth-child(3) {
    justify-self: end;
}

.hero h2 {
    padding: 2rem 10rem;
    color: var(--color_thirthy);
    font-size: var(--hero_headline_font_size);
    text-align: center;
    letter-spacing: 0.1rem;
    grid-row: 2;
    grid-column: 2 / 6;
}

.hero p {
    padding: 0 1rem;
    color: var(--color_thirthy);
    font-size: var(--hero_subheadline_font_size);
    text-align: center;
    grid-row: 3;

    grid-column: 2 / 6;
    align-self: start;
}

.hero a {
    border: none;
    color: var(--color_ten);
    background-color: var(--color_thirthy);
    font-size: var(--hero_subheadline_font_size);
    text-align: center;
    grid-row: 4;
    grid-column: 3 / 5;
    justify-self: center;
    width: var(--hero_booknow_size_width);
    height: var(--hero_booknow_size_height);

    padding: 0.5rem;

}

.hero a:hover {
    background-color: hsl(5, 34%, 51%);
}

.op-bg::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #F2DAAC96;
}

/* End Hero Section  */



/* start galley Section  */
.divide {
    background-color: var(--color_dividers);
    height: 3vh;
}

section {
    min-height: 60vh;
    max-height: 210vh;
    background-image: url("./images/bgs/rice-paper-2.png");
    background-color: hsl(39, 73%, 87%);
    padding: 3rem 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    row-gap: 0.5rem;

}


.content img {
    max-width: var(--gallery_img_size_w);
    max-height: var(--gallery_img_size_h);
    width: auto;
    height: auto;

    border: 8px var(--color_thirthy) solid;
}

.content p {
    font-size: var(--hero_headline_font_size);
    color: var(--color_ten);
    font-family: 'Gentium Plus', serif;
    justify-self: center;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

.deco img {
    height: var(--galley_deco_img_size);
    width: auto;
}



#middle-gallery img {
    max-width: var(--gallery_panorama_size_w);
    max-height: var(--gallery_panorama_size_h);
    width: auto;
    height: auto;
    border: 4px var(--color_thirthy) solid;
}

/* end galley Section  */
footer {
    min-height: 30vh;
    max-height: 67vh;
    background: url("./images/bgs/subtle-stripes.png") var(--color_thirthy) repeat;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    font-size: var(--hero_subheadline_font_size);
    color: #F2F1F0;
    font-family: 'Gentium Plus', serif;
}

footer iframe {
    height: var(--footer_map_size);
    width: var(--footer_map_size);
    grid-row: span 2;
}

footer p {
    font-size: var(--hero_subheadline_font_size);
}

footer span {
    font-size: 2rem;
}

.hours {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: repeat(2, 1fr);
}

.hours h2 {
    grid-column: span 2;
}

.followus a {

    border-radius: 10px;
    border-width: 2px;
    padding: 1rem;
    background-color: rgb(132, 132, 198);
    color: white;
    margin: 0.5rem;
    padding: 0.2rem 0.4rem;
    white-space: nowrap;
}

.followus {
    position: relative;
}



a:any-link {
    text-decoration: none;
    text-decoration: none;
}

a:visited {
    color: var(--color_ten);
}

.col-span-2 {
    grid-column: span 2;
}

.col-span-4 {
    grid-column: span 7;
}

.row-span-2 {
    grid-row: span 2;
}

#selected {
    color: var(--color_thirthy);
}




/* Services Page Styles */


.services {
    min-height: 50vh;
    max-height: 280vh;
    padding: 7rem 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.menu {
    padding: 1rem;
    width: var(--services_container_size_w);
    min-height: 40vh;
    max-height: 280vh;
    background-color: white;
    border: black solid 3.2px;

    position: relative;

    display: flex;
    flex-direction: column;
}

.selections {
    display: flex;
    flex-direction: column;
    font-family: 'Gentium Plus', serif;
    font-size: calc(var(--header_nav) * 1.00);
    grid-column: 1 / 10;
    padding: 1rem 5rem;
}

#serviceslogo {
    position: absolute;
    content: "";
    align-self: center;
    top: calc(100vw * -0.08);
    z-index: 1;
    width: var(--services_logo_size_w);
    height: var(--services_logo_size_h);
}

.deco3-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.deco3 {
    max-width: clamp(26px, 15vw, 104px);
    max-height: clamp(28px, 15vw, 112px);
    width: auto;
    height: auto;
}

.deco4 {
    width: clamp(239px, 18vw, 478px);
    height: clamp(28.75px, 2vw, 57.5px);

    align-self: center;
}

.menu::before {
    position: absolute;
    content: "";
    border: black solid 2.2px;
    border-radius: 16px;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.bottom-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.selections li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: grey solid 1px;
    /* white-space: nowrap; */
}

.selections h3 {
    align-self: center;
    font-size: clamp(0.6rem, 2vw, 2rem);
    padding: 0.2rem;
}

.bottom-menu .selections {
    padding: 0.8rem 0.8rem;
    width: clamp(200px, 40vw, 500px);
}

/* .small-text {
    font-size: calc(var(--header_nav) * 0.90);
    color: gray;
} */
.grey-text {
    font-size: calc(var(--header_nav));
    color: gray;
}

/* End Services Styles */

/* Start About Us Page */

.aboutus-page{
    /* min-height: 170px !important; */
    max-height: 180vh !important;
}

.aboutus-page article{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 600;
    padding: 0 4rem 4rem;
    gap: 1rem;
}
.aboutus-page p {
    font-size: var(--header_nav);
    color: var(--color_thirthy);
}
.aboutus-page h2{
    padding: 2rem 0 0 5rem;
}

.aboutus-page img{
    max-width: clamp(97.6px, 40vw, 244px);
    max-height: clamp(130px, 80vw, 325px);
    width: auto;
    height: auto;

}
/* End About Us Page */

@media (max-width: 909px) {

    .hero h2 {
        grid-column: 1 / 5;
        padding: 2rem 5rem;
    }

    .hero p {
        grid-column: 1 / 5;
    }

    .hero a {
        grid-column: 1 / 5;
    }

    .hero img {
        justify-content: center;
    }

    .hero img:nth-child(2) {
        grid-column: span 2;
    }

    .hero img:nth-child(odd) {
        grid-column: span 1;
    }

    .hero {
        grid-template-columns: repeat(4, 1fr);
    }

    #serviceslogo {
        top: calc(100vw * -0.12);
    }

    section {
        flex-wrap: wrap;
    }
}

@media (width <=585px) {


    .content {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    footer iframe {
        grid-row: span 1;
    }

    .deco3-container {
        padding: 1rem 1rem;
    }

    .selections {
        padding: 1rem;
    }

    .services {
        padding: 3rem 0;
    }
    .aboutus-page article{
        flex-direction: column;
        padding: 0 2rem 4rem;
    }
}